<!DOCTYPE html>
<html>
<head>
	<title>Recipe selector</title>

	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<h2>Recipe selector</h2>
<body>
<div class="container">
	<br>
	<br>
<p> Click submit to view a list of food dishes.The program looks at a list of food dishes and recommends 4 dishes based on following criteria<br>

1. Has the dish been made in the last two weeks<br>
2. Is the dish category unique i.e two dishes that do not have similar ingredients<br>
3. Is the dish dry or gravy? There should be a mix of dry and gravy
</p>
<div class="container">
	<br><br><br><br>

	<form class="form-inline" id="display">
	  <div class="form-group">
	    <!--<label class="sr-only" for="emailInput">Email address</label>
	    <input type="email" class="form-control" id="emailInput" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="nameInput">Name</label>
	    <input type="text" class="form-control" id="nameInput" placeholder="First Name">
	  </div> -->
	  <!--<button type="submit" class="btn btn-default" >Submit</button> -->
	  <button id="button_1" value="val_1" name="but1"  style="margin:10px;">Run</button>
  	  <button id="button_2" value="val_2" name="but2"  style="margin:10px;">Email</button>

	</form>
	<br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<div id="output" type="text"></div>
</div>
</body>
</html>

